<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" class="style">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Add Bootstrap JavaScript and jQuery (order matters) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <title>category-managment</title>
</head>
<style>
  .error {
    color: red;
    font-size: 14px;
  }

  .error2 {
    color: red;
    font-size: 14px;
  }
</style>

<body>
  <%- include('navbar2.ejs') %>
    <content class="nav-height">
      <div class="container-fluid   " id="body-color">
        <div class=" d-flex h-auto  profile-main">
          <div class="profile-div ">
            <div class="profile-photo d-flex align-items-center ">
              <div class=" hii d-flex justify-content-center align-items-center">
                <div class="profile-picture "
                  style="background-image: url(https://cdn-icons-png.flaticon.com/128/3001/3001764.png); background-repeat: no-repeat; background-size: cover;">
                </div>
              </div>
              <div class=" hello d-flex align-items-center">
                <span><a href="/admin" style="text-decoration: none; outline: none; color: black;">Admin</a></span>
              </div>
            </div>
            <div class="profile-selection">
              <div class="selector  d-flex align-items-center">
                <div class=" hii d-flex align-items-center justify-content-center">
                  <div class="selector-image"
                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/8089/8089114.png); "></div>
                </div>
                <div class="hello d-flex align-items-center">
                  <span><a href="/admin/order-details" style="text-decoration: none; outline: none; color: black;">order
                      details</a></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="selector  d-flex align-items-center">
                <div class=" hii  d-flex align-items-center justify-content-center">
                  <div class="selector-image"
                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/4379/4379608.png); "></div>
                </div>
                <div class=" hello d-flex align-items-center">
                  <span><a href="/admin/product-managment"
                      style="text-decoration: none; outline: none; color: black;">product</a></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="selector  d-flex align-items-center align-items-center">
                <div class="hii d-flex justify-content-center align-items-center">
                  <div class="selector-image bg-light"
                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); "></div>
                </div>
                <div class="hello d-flex align-items-center">
                  <span><a href="/admin/user-managment"
                      style="text-decoration: none; outline: none; color: black;">users</a></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="selector  d-flex align-items-center align-items-center"
                style="background-color: rgb(238, 236, 236);">
                <div class="hii d-flex justify-content-center align-items-center">
                  <div class="selector-image bg-light"
                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); "></div>
                </div>
                <div class="hello d-flex align-items-center">
                  <span><a href="/admin/category"
                      style="text-decoration: none; outline: none; color: black;">category</a></span>
                </div>
              </div>
              <div class="line"></div>
              <div class="selector  d-flex align-items-center align-items-center">
                <div class="hii d-flex justify-content-center align-items-center">
                  <div class="selector-image bg-light"
                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); "></div>
                </div>
                <div class="hello d-flex align-items-center">
                  <span><a href="/admin/coupon"
                      style="text-decoration: none; outline: none; color: black;">coupon</a></span>
                </div>
              </div>
              <div class="line"></div>

            </div>
          </div>
          <div class="profile-div2  ">

            <div class="table-2 p-4">
              <div class="container">
                <div class="row">
                  <!-- Left Table: Watch Type -->
                  <div class="col-md-6">
                    <h2>Watch Type</h2>
                    <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addCategoryModalLeft">Add
                      Category</button>
                    <div class="modal fade" id="addCategoryModalLeft" tabindex="-1" role="dialog"
                      aria-labelledby="addCategoryModalLabelLeft" aria-hidden="true">

                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="post" action="/admin/category" for="watchtype"
                            onsubmit="return validateWatchtype();">
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="categoryName">Watch type</label>
                                <input type="hidden" value="" name="watchtype">
                                <input type="text" class="input-control" name="watch_type" value="" class="form-control"
                                  id="categoryName" placeholder="Enter watch type ">
                                <input type="hidden" name="" value=""> <!-- Add this hidden input -->

                                <div class="error"></div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit">Add watchtype</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>

                            <th>Name</th>
                            <th>Edit</th>
                            <th>List</th>
                          </tr>
                        </thead>

                        <tbody>
                          <%for(let i=0; i < watchtype.length ;i++){ %>
                            <tr>

                              <td>
                                <%= watchtype[i].watch_type %>
                              </td>
                              <td>
                                <button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                  data-target="#editCategoryModal<%=i%>">
                                  Edit
                                </button>

                              </td>
                              <!-- this is for modal -->

                              <div class="modal fade" id="editCategoryModal<%=i%>" tabindex="-1" role="dialog"
                                aria-labelledby="editCategoryModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <form method="post" for="watchtypes"
                                      action="/admin/category/edit?id=<%=watchtype[i]._id%>"
                                      onsubmit="return validateForm('<%=i%>')">
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="editCategoryName">New Watch Type</label>
                                          <input type="text" class="input-control" name="watch_type"
                                            value="" class="form-control"
                                            id="editCategoryName<%=i%>" placeholder="<%=watchtype[i].watch_type %>">
                                          <input type="hidden" value="<%=watchtype[i]._id%>" name="_id"
                                            id="editCategoryId<%= i %>">
                                      
                                          <div class="error2" id="watchTypeError<%=i%>"></div>

                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                          data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                      </div>
                                    </form>

                                  </div>
                                </div>
                              </div>


                              <td><a href="/admin/category/list?_id=<%= watchtype[i]._id %>" class="btn btn-info btn-sm"
                                  style="width: 4rem;">
                                  <%= watchtype[i].list ? 'List' : 'Unlist' %>
                                </a></td>

                            </tr>

                            <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h2>Brand</h2>
                    <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addCategoryModalRight">Add
                      Category</button>
                    <div class="modal fade" id="addCategoryModalRight" tabindex="-1" role="dialog"
                      aria-labelledby="addCategoryModalLabelRight" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form method="post" action="/admin/category/brands" for="brand"
                            onsubmit="return validatebrands()">
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="brandCategory">Brand Name</label>
                                <input type="text" class="input-control ps-3" name="brand_category"
                                  placeholder="Enter Brand Name">
                                <div class="error"></div>
                                <label class="pt-4" for="editCategoryoffers">Offer (%)</label>
                                <input type="text" class="input-control ps-3" name="offer" value="" class="form-control"
                                  id="editCategoryoffers" placeholder="offer">
                                <div class="error" id="offerError">
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Brand</button>
                              </div>
                          </form>

                        </div>
                      </div>


                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>

                          <th>Name</th>
                          <th>offer(%)</th>
                          <th>Edit</th>
                          <th>List</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%for(let i=0; i < brands.length ;i++){ %>
                          <tr>

                            <td>
                              <%= brands[i].brand_category %>
                            </td>
                            <td>
                              <%=brands[i].offer%>
                            </td>

                            <td>
                              <button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                data-target="#editCategoryModals<%= i %>">
                                Edit
                              </button>


                              <div class="modal fade" id="editCategoryModals<%= i %>" tabindex="-1" role="dialog"
                                aria-labelledby="editCategoryModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="editCategoryModalLabel">Edit BRands</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <form method="post" action="/admin/category/brandedit"
                                      onsubmit="return validateForm2('<%= i %>')">
                                      <div class="modal-body">
                                        <div class="form-group">
                                          <label for="editCategoryNames<%=i%>">New Watch Type</label>
                                          <input type="text" class="input-control ps-3" name="brand_category"
                                            value="<%=brands[i].brand_category %>" class="form-control"
                                            id="editCategoryNames<%= i %>"
                                            placeholder="<%= brands[i].brand_category %>">
                                          <input type="hidden" value="<%=brands[i]._id %>" name="_id"
                                            id="editCategoryId<%= i %>">
                                          <div class="error2" id="brandError<%= i %>"></div>
                                          <label class="pt-4" for="editCategoryoffers<%= i %>">Offer (%)</label>
                                          <input type="text" class="input-control ps-3" name="offer"
                                            value="<%= brands[i].offer %>" class="form-control"
                                            id="editCategoryoffers<%= i %>" placeholder="<%= brands[i].offer %>">
                                          <div class="error2" id="offerError<%= i %>">
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              </div>



                            </td>
                            <td><a href="/admin/category/brand-list?_id=<%= encodeURIComponent(brands[i]._id) %>"
                                class="btn btn-info btn-sm">
                                <%= brands[i].list ? 'List' : 'Unlist' %>
                              </a></td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



    </content>
    <!-- Button to trigger the modal -->
    <!-- Button to trigger the modal -->






    <!-- Button trigger modal -->

    <!-- Button trigger modal -->







    <!-- Edit Watch Type Modal -->


    <div class="modal fade" id="editCategoryModals2" tabindex="-1" role="dialog"
      aria-labelledby="editCategoryModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" action="/admin/category/edit">
            <!-- Adjust the action attribute accordingly -->
            <div class="modal-body">
              <div class="form-group">
                <label for="editCategoryName">New Watch Type</label>
                <input type="text" class="input-control" name="watch_type" value="<%= watchtype.watch_type %>"
                  class="form-control" id="editCategoryName" placeholder="Enter new watch type">
                <input type="hidden" value="<%= watchtype._id %>" name="_id" id="editCategoryId">
                <div class="error"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>




    <footer>


      <div class="container-fluid footer-color">
        <div class="container d-flex ">
          <div class="">
            <div class="footer-div1 d-flex justify-content-center">
              <h1 class="heading  pt-4">About us</h1>
            </div>
            <div class="footer-div1">

              <p class="p-2">Welcome to Watch Universe, your ultimate destination for exquisite timepieces. At Watch
                Universe, we're passionate about bringing you the finest selection of watches that blend elegance,
                precision, and style.Our journey started with a love for craftsmanship and a desire to share the world's
                most stunning watches with watch enthusiasts and collectors alike.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid footer-color d-flex justify-content-center">
        <p class="p-5">&copy; 2023 All rights reserved.Desined by Aneesh</p>
      </div>
    </footer>

</body>
<script>

  function validateForm(formIndex) {
    console.log("coming here")
    const watchTypeInput = document.querySelector(`#editCategoryName${formIndex}`);
    const watchTypeError = document.getElementById(`watchTypeError${formIndex}`);
    const types = document.getElementById('forwatchtype').value
    console.log("valiate form")


    watchTypeError.textContent = '';


    if (watchTypeInput.value.trim() === '') {
      watchTypeError.textContent = 'New Watch Type is required';
      watchTypeInput.focus();
      return false;
    }

    let inputValueLowercase = watchTypeInput.value.trim().toLowerCase()
    console.log("the lowe", inputValueLowercase)

    const data = {
      inputvalue: inputValueLowercase,
    }

    fetch('/admin/watchtype-exist', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Network response was not ok');
        }
      })
      .then(data => {
        if (data.Exist) {

          console.log("the if")
          watchTypeError.textContent = 'New Watch Type is required';
          watchTypeInput.focus();
          return false;
        } else if (data.NotExist) {
          console.log("the else")
          document.querySelector(`form[action="/admin/category/edit?id=${types}"]`).submit();

        }
      })

    return false
  }


  function validateForm2(index) {
    const brandCategoryInput = document.querySelector(`#editCategoryNames${index}`);
    const offerInput = document.querySelector(`#editCategoryoffers${index}`);
    const brandError = document.getElementById(`brandError${index}`);
    const offerError = document.getElementById(`offerError${index}`);

    // Clear previous error messages
    brandError.textContent = '';
    offerError.textContent = '';

    // Validate New Watch Type (non-empty)
    if (brandCategoryInput.value.trim() === '') {
      brandError.textContent = 'New Watch Type is required';
      brandCategoryInput.focus();
      return false;
    }

    // Validate Offer (%) for a valid percentage
    const offerValue = offerInput.value;
    if (offerValue && !/^(100|[1-9]?[0-9])%$/.test(offerValue)) {
      offerError.textContent = 'Please enter a valid offer percentage (0% to 100%).';
      offerInput.focus();
      return false;
    }

    // Form is valid, allow submission
    return true;
  }





  function validateWatchtype() {
    console.log("coming here");

    console.log("validateWatchtype")
    const errorElement = document.querySelector(".error");
    errorElement.textContent = "";

    const inputValue = document.querySelector("[name='watch_type']").value.trim();

    console.log("inpuvalue", inputValue)
    if (inputValue === "") {
      errorElement.textContent = "Watch type cannot be empty.";
      return false;
    } else if (!isNaN(inputValue)) {
      errorElement.textContent = "Watch type cannot be a number.";
      return false;
    } else {
      const inputValueLowercase = inputValue.toLowerCase();

      const data = {
        inputvalue: inputValueLowercase,
      }

      fetch('/admin/watchtype-exist', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Network response was not ok');
          }
        })
        .then(data => {
          if (data.Exist) {

            console.log("the if")
            errorElement.textContent = "Watch type already exists.";
            return false;
          } else if (data.NotExist) {
            console.log("the else")
            document.querySelector("[for='watchtype']").submit();

          }
        })
        .catch(error => {
          console.error('Fetch error:', error);
          return false; // Handle fetch errors by preventing form submission
        });


    }


    return false
  }



  function validatebrands() {
    console.log("hey it  the validation brnads")
    const errorElement = document.querySelector("[for='brand'] .error");
    const offerInput = document.querySelector("[name='offer']");
    const offerError = document.getElementById("offerError");

    offerError.textContent = '';
    errorElement.textContent = '';

    const inputValue = document.querySelector("[name='brand_category']").value.trim();
    let inputValueLowercase = inputValue.toLowerCase();


    const offerValue = offerInput.value;

    console.log("the offer value")
    console.log("the inputvalue", inputValue)

    if (offerValue !== '') {
      console.log("first if")
      if (!/^(100|[1-9]?\d)%$/.test(offerValue)) {
        offerError.textContent = 'Please enter a valid offer percentage (0% to 100%).';
        offerInput.focus();
        return false;
      }
    }

    if (inputValue === '') {
      console.log("sendon if")
      errorElement.textContent = "Brand name can't be empty.";
      return false;
    } else {
      console.log("else ")
      const data = {
        inputvalue: inputValueLowercase,
      };

      fetch('/admin/brand-exist', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Network response was not ok');
          }
        })
        .then(data => {
          if (data.Exist) {
            errorElement.textContent = "Brand name already exists.";
          } else if (data.NotExist) {
            document.querySelector("[for='brand']").submit();
          }
        })
        .catch(error => {
          console.error('Fetch error:', error);
        });
    }


    return false;
  }






</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>