<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" class="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <title>product-managment</title>   
</head>

<body>
    <%- include('navbar.ejs') %>
    <content>       
        <div class="container-fluid   " id="body-color">
            <div class=" d-flex h-auto  profile-main">
                <div class="profile-div ">
                    <div class="profile-photo d-flex align-items-center ">
                        <div class=" hii d-flex justify-content-center align-items-center">
                            <div class="profile-picture "
                                style="background-image: url(https://cdn-icons-png.flaticon.com/128/3001/3001764.png); background-repeat: no-repeat; background-size: cover;">
                            </div>
                        </div>
                        <div class=" hello d-flex align-items-center">
                            <span><a href="/admin"                                style="text-decoration: none; outline: none; color: black;">Admin</a></span>
                        </div>
                    </div>
                    <div class="profile-selection">
                        <div class="selector  d-flex align-items-center" style="background-color: rgb(238, 236, 236);">
                            <div class=" hii d-flex align-items-center justify-content-center">
                                <div class="selector-image"
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/8089/8089114.png); ">
                                </div>
                            </div>
                            <div class="hello d-flex align-items-center">
                                <span><a href="/admin/order-details"
                                        style="text-decoration: none; outline: none; color: black;">order
                                        details</a></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="selector  d-flex align-items-center">
                            <div class=" hii  d-flex align-items-center justify-content-center">
                                <div class="selector-image"
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/4379/4379608.png); ">
                                </div>
                            </div>
                            <div class=" hello d-flex align-items-center">
                                <span><a href="/admin/product-managment"
                                        style="text-decoration: none; outline: none; color: black;">product</a></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="selector  d-flex align-items-center align-items-center">
                            <div class="hii d-flex justify-content-center align-items-center">
                                <div class="selector-image bg-light"
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); ">
                                </div>
                            </div>
                            <div class="hello d-flex align-items-center">
                                <span><a href="/admin/user-managment"
                                        style="text-decoration: none; outline: none; color: black;">users</a></span>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="selector  d-flex align-items-center align-items-center">
                            <div class="hii d-flex justify-content-center align-items-center">
                                <div class="selector-image bg-light"
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); ">
                                </div>
                            </div>
                            <div class="hello d-flex align-items-center">
                                <span><a href="/admin/category"
                                        style="text-decoration: none; outline: none; color: black;">category</a></span>
                            </div>
                        </div>
                        <div class="line"></div>  
                        <div class="selector  d-flex align-items-center align-items-center">
                            <div class="hii d-flex justify-content-center align-items-center">
                                <div class="selector-image bg-light"
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); ">
                                </div>
                            </div>
                            <div class="hello  d-flex align-items-center">
                                <span><a href="/admin/coupon"
                                        style="text-decoration: none; outline: none; color: rgb(0, 0, 0);">coupon</a></span>
                            </div>
                        </div>
                        <div class="line"></div>

                    </div>
                </div>  
                <div class="profile-div2 bg-success ">
                    <div class="p-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Add coupon
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/admin/coupon" method="post">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">coupon code:</label>
                                                <input type="text" name="coupon_code" class="form-control"
                                                    id="recipient-name" placeholder="">
                                                <input type="hidden" name="userid">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">coupon type:</label>
                                                <select name="coupon_type" class="form-control">
                                                    <option value="flate">flate</option>
                                                    <option value="percent">percent</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">coupon
                                                    value/percent:</label>
                                                <input type="" name="coupon_value" class="form-control" placeholder="">
                                            </div>
                                            <div class="mb-3">
                                                <label class="mb-3">min:</label>
                                                <input type="" name="min" class="form-control" placeholder="">

                                            </div>
                                            <div class="mb-3">

                                                <label class="mb-3">maxr:</label>
                                                <input type="" name="max" class="form-control" placeholder="">

                                            </div>

                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">coupon
                                                    value/percent:</label>
                                                <input type="date" name="coupon_date" class="form-control"
                                                    placeholder="">
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>coupon code</th>
                                    <th>coupon value</th>
                                    <th>coupon type</th>
                                    <th>minimum</th>
                                    <th>maximum</th>
                                    <th>expire date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i< coupon.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td>
                                            <%=  coupon[i].coupon_code %>
                                        </td>
                                        <td><%= coupon[i].coupon_value %></td>
                                        <td><%= coupon[i].coupon_type%></td>
                                        <td><%= coupon[i].min_amount %></td>
                                        <td><%=coupon[i].max_amount%></td>
                                        <td>
                                            <% if (coupon[i].expire_date instanceof Date && !isNaN(coupon[i].expire_date)) { %>
                                              <%= coupon[i].expire_date.toLocaleString() %>
                                            <% } else { %>
                                              N/A
                                            <% } %>
                                          </td>
                                          
                                        <td>
                                            <button class="btn btn-primary"></button>
                                            <button class="btn btn-warning"></button>
                                        </td>

                                    </tr>
                                    <% } %>

                            </tbody>

                        </table>

                    </div>


                </div>
            </div>



    </content>

    <footer>
        <div class="container-fluid footer-color">
            <div class="container d-flex ">
                <div class="">
                    <div class="footer-div1 d-flex justify-content-center">
                        <h1 class="heading  pt-4">About us</h1>
                    </div>
                    <div class="footer-div1">

                        <p class="p-2">Welcome to Watch Universe, your ultimate destination for exquisite timepieces. At
                            Watch
                            Universe, we're passionate about bringing you the finest selection of watches that blend
                            elegance,
                            precision, and style.Our journey started with a love for craftsmanship and a desire to share
                            the world's
                            most stunning watches with watch enthusiasts and collectors alike.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-color d-flex justify-content-center">
            <p class="p-5">&copy; 2023 All rights reserved.Desined by Aneesh</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                searching: true // Enable searching
            });
        });


    </script>

</body>




</html>