<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Add this in the <head> section -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add this before the closing </body> tag -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css" class="style">
    <title>login</title>
</head>

<body>
    <%- include('navbar.ejs') %>
    <content>

        <div class="container-fluid d-flex justify-content-center   " id="body-color">
            <div class="container">
                <div class=" d-flex h-auto  profile-main justify-content-center">
                    <div class="profile-div ">
                        <div class="profile-photo d-flex align-items-center ">
                            <div class=" hii d-flex justify-content-center align-items-center">
                                <div class="profile-picture "
                                    style="background-image: url(https://cdn-icons-png.flaticon.com/128/3001/3001764.png); background-repeat: no-repeat; background-size: cover;">
                                </div>
                            </div>
                            <div class=" hello d-flex align-items-center">
                                <span class="text-label">user</span>
                            </div>
                        </div>
                        <div class="profile-selection">
                            <div class="selector  d-flex align-items-center">
                                <div class=" hii d-flex align-items-center justify-content-center">
                                    <div class="selector-image"
                                        style="background-image: url(https://cdn-icons-png.flaticon.com/128/8089/8089114.png); ">
                                    </div>
                                </div>
                                <div class="hello d-flex align-items-center">
                                    <span>profile</span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="selector  d-flex align-items-center">
                                <div class=" hii  d-flex align-items-center justify-content-center">
                                    <div class="selector-image"
                                        style="background-image: url(https://cdn-icons-png.flaticon.com/128/4379/4379608.png); ">
                                    </div>
                                </div>
                                <div class=" hello d-flex align-items-center">
                                    <span>wishlist</span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="selector  d-flex align-items-center align-items-center">
                                <div class="hii d-flex justify-content-center align-items-center">
                                    <div class="selector-image bg-light"
                                        style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); ">
                                    </div>
                                </div>
                                <div class="hello d-flex align-items-center">
                                    <span><a href="/order"
                                            style="text-decoration: none; outline: none; color: black;">order
                                        </a></span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="d-flex align-content-end">
                                <div class="selector  d-flex align-items-center align-items-center">
                                    <div class="hii d-flex justify-content-center align-items-center">
                                        <div class="selector-image bg-light"
                                            style="background-image: url(https://cdn-icons-png.flaticon.com/128/2435/2435281.png); ">
                                        </div>
                                    </div>
                                    <div class="hello d-flex align-items-center">
                                        <form class="" method="post" action="/logout">
                                            <button type="submit" class="btn btn-primary  rounded-2">logout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="white  profile-div3 h-auto mb-2 w-75 " style="height: 42.3rem;">
                        <div class=" w-100 ">
                            <div class="col-lg-12 usr-details">
                                <div class="card ps-5 pb-3 pt-3">
                                    <h1 class="heading"> order list</h1>

                                </div>
                            </div>
                            
                            <% for (let i = 0; i < user.order.length; i++) { %>
                                <div class="card">
                                  <div class="card-body">
                                    <div class="border rounded pb-2">
                                      <div class="ps-4 p-2 border bg-light">
                                        <h5 class="card-title">order <%= i + 1 %></h5>
                                        <div class="d-flex">
                                          <p class="col-6 card-text">order ID: <a class="text-decoration-none"><%= user.order[i]._id %></a></p>
                                          <p class="col-6 card-text">order Date: <%= user.order[i].createdAt.toLocaleString() %></p>
                                        </div>
                                      </div>
                                      <div class="ps-4">
                                        <p class="card-text">No. of items: <%= user.order[i].product.length %></p>
                                        <p class="card-text">Amount: <%= user.order[i].totalamount %></p>
                                        <p class="card-text">Payment method: <%= user.order[i].paymentMethod %></p>
                                        <div class="d-flex">
                                          <div>
                                            <label for="status-select">Status: <%= user.order[i].status %></label>
                                          </div>
                                          <div class="col-6">
                                            <div class="d-flex justify-content-end">
                                              <a class="btn btn-primary" href="/order/orderdetails?id=<%=user.order[i]._id %>">viewOrder</a>
                                              <% if(user.order[i].status != "cancelled" && user.order[i].status !="Delivered" && user.order[i].status != "Shipped"){ %>
                                                <button class="btn btn-danger" onclick="cancelOrder('<%= user.order[i]._id %>')">Cancel</button>
                                              <% } %>
                                              <% if(user.order[i].status == 'Delivered') { %>
                                                <button class="btn btn-warning" onclick="orderreturnRequest('<%=user.order[i]._id %>')">return</button>
                                              <% } %>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% } %>
                              
                              
                        </div>
                        
                       
                    </div>
                    

                </div>
            </div>
        </div>

    </div>  
</div>  

</div>  
</div>  
</content>



    <footer>
        <div class="container-fluid footer-color">
            <div class="container d-flex ">
                <div class="">
                    <div class="footer-div1 d-flex justify-content-center">
                        <h1 class="heading  pt-4">About us</h1>
                    </div>
                    <div class="footer-div1">

                        <p class="p-2">Welcome to Watch Universe, your ultimate destination for exquisite timepieces. At
                            Watch
                            Universe, we're passionate about bringing you the finest selection of watches that blend
                            elegance,
                            precision, and style.Our journey started with a love for craftsmanship and a desire to share
                            the world's
                            most stunning watches with watch enthusiasts and collectors alike.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-color d-flex justify-content-center">
            <p class="p-5">&copy; 2023 All rights reserved.Desined by Aneesh</p>
        </div>
    </footer>

    <!-- Button to trigger the modal -->


    <script>

        function deleteAddress(addressIndex, userId) {
            // Create an object with the data to send in the request body
            const requestData = {
                addressIndex: addressIndex,
                userId: userId
            };


            fetch('/delete-address', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json' 
                },
                body: JSON.stringify(requestData) 
            })
                .then(response => {
                    if (response.ok) {
                        
                        location.reload(); 
                    } else {
                       
                        console.error('Failed to delete address');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function cancelOrder(orderId) {
    fetch(`/cancel-order?orderId=${orderId}`, {
      method: 'POST', 
    })
      .then((response) => {
        if (response.ok) {
          console.log(`Order ${orderId} has been cancelled.`);
          window.location.reload()
        } else {
          console.error(`Failed to cancel order ${orderId}.`);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }


  function orderreturnRequest(orderId) {
    fetch(`/returnrequest?orderId=${orderId}`, {
      method: 'POST', 
    })
      .then((response) => {
        if (response.ok) {
          console.log(`Order ${orderId} has been return order.`);
          window.location.reload()
        } else {
          console.error(`Failed to ${orderId}.`);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

    </script>


</body>

</html>