<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- Add this in the <head> section -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Add this before the closing </body> tag -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.js"></script>

  <link rel="stylesheet" href="style.css" class="style">
  <title>login</title>
</head>

<body>
  <%- include('navbar.ejs') %>
    <content class="nav-height">
      <div class="container-fluid d-flex justify-content-center pt-3   " id="body-color">
        <div class="container-width">
          <%- include('sidebar.ejs') %>
            <section class="home-section ">

              <div class="profile-div3   ">
                <div class="h-auto w-100">
                  <div class="col-lg-12 usr-details">
                    <div class="card ps-5 pb-3">
                      <div class="bg-white d-flex  pe-5  pt-3 rounded-3 d-flex align-items-center">
                        <h2 class="heading">Wishlist(<%=user.wishlist.length %>)</h2>

                      </div>

                    </div>
                  </div>

                </div>
                <div class="h-auto bg-white w-100 rounded-2 mt-2">

                  <% for(let i=0; i < user.wishlist.length;i++){ %>

                    <div class="">
                      <div class="accordion-item p-4 d-flex justify-content-evenly">
                        <div class="" style="height: 3rem; width: 3.9rem;" style="object-fit: contain;">
                          <img src="/filename/<%=user.wishlist[i].product_id.product_image[0] %>"
                            style="">
                        </div>
                        <div class="ps-5 w-50">
                          <div class="w-100">
                            <j class="" style="font-family: 'Roboto', sans-serif; font-weight: 600;">
                              <%=user.wishlist[i].product_id.product_name %>-<%=user.wishlist[i].product_id.gender %>
                            </j>
                          </div>
                          <div class="w-100  price-g">Base price</div>
                          <div class="w-100">
                            <h3 class="" style="font-family: 'Roboto', sans-serif; font-weight: 800;"> &#8377; 
                                <%  if(user.wishlist[i].product_id.price == user.wishlist[i].product_id.sellingprice){ %>
                                            
                                  <span class=""><%=user.wishlist[i].product_id.sellingprice %></span>
                                  <% }else{ %>
                                      <span style="color: rgb(6, 6, 6);"><%= user.wishlist[i].product_id.sellingprice %> </span>
                                      <span style="color: red;text-decoration: line-through;"><%= user.wishlist[i].product_id.price %></span>
                                <% } %>

                            </h3>
                          </div>
                        </div>
                        <div class="w-25  d-flex  align-items-center">
                          <div class="d-flex w-100 h-25 justify-content-end align-content-center ">
                          </div>
                        </div>
                        <div class="d-flex ps-2 align-items-center justify-content-end  w-25">

                          <div class="d-flex w-100  justify-content-end ">
                            <button type="button"
                              onclick="addinCart('<%=user.wishlist[i].product_id._id%>','<%= user.wishlist[i].product_id.product_name%>','<%=user.wishlist[i].product_id.price %>')"
                              class="p-1  border-0  bg-white" style="width:3rem; height: 2.5rem;"> <img
                                class="w-100 h-100 bg-white " src="/cart-shopping.svg"></button>
                            <button class="p-1 border-0 bg-white"
                              onclick="removeWishlist('<%= user.wishlist[i].product_id._id %>')"
                              style="width:4rem; height: 2.5rem;"><img class="w-50  h-100 bg-white "
                                src="/delete.png"></button>

                          </div>
                        </div>
                      </div>


                    </div>
                    <hr>

                    <% } %>

                </div>
              </div>

            </section>
        </div>
      </div>




    </content>




    <footer>
      <div class="container-fluid footer-color">
        <div class="container d-flex ">
          <div class="">
            <div class="footer-div1 d-flex justify-content-center">
              <h1 class="heading  pt-4">About us</h1>
            </div>
            <div class="footer-div1">

              <p class="p-2">Welcome to Watch Universe, your ultimate destination for exquisite timepieces. At Watch
                Universe, we're passionate about bringing you the finest selection of watches that blend elegance,
                precision, and style.Our journey started with a love for craftsmanship and a desire to share the world's
                most stunning watches with watch enthusiasts and collectors alike.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid footer-color d-flex justify-content-center">
        <p class="p-5">&copy; 2023 All rights reserved.Desined by Aneesh</p>
      </div>
    </footer>

    <script>
      function addinCart(productId, productName, price) {
        const quantity = 1;

        console.log("entering");

        const data = {
          productId,
          product_name: productName,
          quantity,
          price
        };

        fetch('/api/addingtocart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
          .then(response => response.json())
          .then(responseData => {
            if (responseData.success) {
              console.log("it's success");

              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Product added to cart successfully!',
              }).then(() => {
                window.location.reload();
              });


            } else if (responseData.noUser) {
              window.location.href = "/login";
            } else if (responseData.outofStock) {
              Swal.fire({
                icon: 'error',
                title: 'Out of Stock',
                text: 'This product is out of stock.',
              });
            } else {
              alert('Failed to add the product to the cart.');
            }
          })
          .catch(error => {
            console.error('Error adding to cart:', error);
          });
      }
      function removeWishlist(productId) {

        console.log("entering th delete")

        fetch('/removefromwishlist', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ productId: productId })
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            console.log('Product removed from cart.');
            window.location.reload();
          })
          .catch(error => {
            console.error('Error removing product from cart:', error);
          });
      }
    </script>
</body>

</html>